* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #f3f3f3;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  background-color: #d2d2d2;
  margin: 1% 0;
}

.kopirajt {
  margin-top: 1%;
  width: 17%;
  background-color: #d2d2d2;
}

.kontrole {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  border: none;
  text-align: center;
  padding: 1%;
  width: 190%;
  background-color: #d2d2d2;
  transition: 0.22s;
}

input:focus {
  background-color: #c9c9c9;
  outline: none;
}

.cta {
  width: 190%;
  padding: 4% 20%;
  background-color: #3472b7;
  color: #f3f3f3;
  border: none;
  font-size: 110%;
  transition: 0.22s;
}

.cta:hover {
  background-color: #275486;
}

h1 {
  font-size: 150%  !important;
  padding: 2%;
  text-align: center;
}

img {
  display: inline-block;
  vertical-align: middle;
}

ul {
  margin: 2% 0 !important;
  width: 17%;
  background: #d2d2d2;
  padding: 0 !important;
  list-style: none;
}

ul li{
  padding: 2% 1%;
  text-align: center;
}

.alert-danger {
  width: 17%;
  color: #202124 !important;
  background-color: #d2d2d2 !important;
  border-color: #d2d2d2 !important;
}

.h4{
  font-size: 120%  !important;
}
