* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  background-color: #f3f3f3;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kopirajt {
  margin-top: 1%;
  width: 15.5%;
  background-color: #d2d2d2;
}

input {
  margin-top: 1%;
  border: none;
  text-align: center;
  padding: 0.5% 2%;
  width: 11.5%;
  background-color: #d2d2d2;
  transition: 0.22s;
}

.btn-close {
  margin-bottom: 4%;
  width: 10%;
  height: 10%;
  padding: 3%;
  background-image: url("zatvori.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.22s;
}


input:focus {
  background-color: #c9c9c9;
  outline: none;
}

.cta {
  cursor: pointer;
  width: 15.5%;
  padding: 1% 2%;
  background-color: #3472b7;
  color: #f3f3f3;
  border: none;
  transition: 0.22s;
}

.cta:hover {
  background-color: #275486;
}

h1 {
  font-size: 120% ;
  padding: 2% 1%;
  text-align: center;
}

img {
  display: inline-block;
  vertical-align: middle;
}

ul {
  margin: 2% 0;
  width: 15.5%;
  background: #d2d2d2;
  padding: 0 ;
  list-style: none;
}

ul li{
  padding: 2% 1%;
  text-align: center;
}

.alert-danger {
  padding: 1%;
  margin-top: 1%;
  width: 13.5%;
  color: #202124;
  background-color: #d2d2d2;
  border-color: #d2d2d2;
}

.h4{
  font-size: 120%;
}
